<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project 2 Demo{% endblock %}</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="max-w-screen-lg mx-auto space-y-8 p-4">
        <h1 class="text-center text-3xl">Project 2</h1>

        {% block content %}{% endblock %}
    </div>
</body>
</html>